.container{
    width: 100%;
    border: 1px solid green;
}
.divDay{
    padding: 20px;
    margin: 10px;
    height: 200px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}